<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pkmn</title>
  <link rel ="stylesheet" type"text/css" href="_todo.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script> 
  
  <script src="brains.js"></script>
</head>
<body ng-cloak ng-app="myApp" ng-controller="myCtrl">
<!--Opening Menu-->
	<div class = "openscreen">
		<div id = 'open1' class = "firstmenu">
			<p ID = 'CONTINUE'>CONTINUE</p>
			<p ID = 'NEW GAME'>NEW GAME</p>
			<p ID = 'OPTIONS'>OPTIONS</p>
			
			<div id = 'open2' class = "secondmenu">
				<div id = 'open3' class = "yesno"></div>
				
				</div>
			</div>
		</div>
<!--Scene Screen-->
	<div id = 'scene' class = "scene">
		<div class = "imagePane">
			</div>
		<div class = "wordbox">
			</div>
		</div>
<!--Battle Screen -->
	<div class = "main">
		<div class = "redstatus">
			<p> {{red.name}}</p>
			<p> Lv. {{redlv}}</p>
			<div style = "margin-right:{{red.hp / red.hpmax*100}}%; width:{{.9*red.hp / red.hpmax*100}}%" class = 'bar'></div>
			<p>{{red.hp}}/{{red.hpmax}}</p>
			</div>
		
		<div class = "imagePane red">
			<img src = {{red.id}}.jpg>
			</div>
		<div class = "imagePane blue">
			<img src = {{blue.id}}.jpg>
			</div>
		<div class = "bluestatus">
			<p> {{blue.name}}</p>
			<p> Lv.: {{bluelv}}</p>
			<div style = "margin-right:{{blue.hp / blue.hpmax*100}}%; width:{{.9*blue.hp / blue.hpmax*100}}%"class = 'bar'></div>
			<p>{{blue.hp}}/{{blue.hpmax}}</p>
			</div>
		
		<div ng-click ="advance()" class = "wordbox">
			<p>{{message}}</p>
			<div ng-show = 'menu' class = "menubox">
				<div class = 'menucol1'>
					<div class = 'option' ng-click='Fight()'>Fight</div>
						
					<div class = 'option' ng-click='Pokemon()'>PkMn</div>
					</div>
				<div class = 'menucol2'>
					<div class = 'option' ng-click='Item()'>Item</div>
					<div class = 'option' ng-click='Run()'>Run</div>
					</div>
				</div>
			</div>
		<div class = 'fightmenu' ng-show='fight'>
			<p ng-click='move1()'>{{blue.move1}}</p>
			<p ng-click='move2()'>{{blue.move2}}</p>
			<p>{{blue.move3}}</p>
			<p>{{blue.move4}}</p>							
			</div>
	</div>
<!-- World Screen -->
	<div class = "under">
		</div>

	<div class = "alt">
		</div>
	<div class = "debug">
		{{mqueue}};
	</div>
</body>
</html>
